@font-face {
    font-family: IBM Plex Mono Bold;
    src: url(../../../Assets/font/IBMPlexMono-Bold.ttf);
}

@font-face {
    font-family: IBM Plex Mono Regular;
    src: url(../../../Assets/font/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: IBM Plex Sans Regular;
    src: url(../../../Assets/font/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBM Plex Sans Bold;
    src: url(../../../Assets/font/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: Lora Bold;
    src: url(../../../Assets/font/Lora-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
}

main {
    background-color: #ffffff;
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #6AA06A;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0px 20px 20px;
    z-index: 1;
}

main nav img {
    width: 110px;
    height: 110px;
}

main nav .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    overflow: hidden;
    align-items: center;
    margin-left: 30px;
}

main nav .navigation a {
    font: 16px IBM Plex Sans Bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

main nav .navigation a:hover {
    color: #967005;
}

main nav .navigation a:active {
    color: #ffffff;
}

main nav aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 520px;
    gap: 5px;
}

main nav aside img {
    width: 50px;
    height: 50px;
}

main nav aside p {
    position: fixed;
    align-self: flex-start;
    font: 18px IBM Plex Sans Regular;
    color: white;
    margin-top: 8px;
    margin-left: 54px;
    margin-right: 25px;
    border-radius: 3px;
    cursor: pointer;
}

main nav aside p:hover {
    background-color: rgb(61, 134, 61);
}


main nav aside .Navigation {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top: 130px;
    padding: 0px 0px 40px 0px;
    width: 145px;
    height: 80px;
    background-color: #6AA06A;
}

main nav aside .Navigation a {
    font: 18px IBM Plex Sans Regular;
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 10px 5px 0px 5px;
    border-radius: 5px;
}


.Navigation a:hover {
    background-color: rgb(61, 134, 61);
}

main section {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

main section .aside1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    gap: 30px;
    padding: 40px;
}

main section .aside1 .aside1-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 420px;
    border-radius: 10px;
    background-color: #EBEBEB;
}

main section .aside1 .aside1-top .school-img {
    width: 400px;
    height: 300px;
    border-radius: 10px 10px 250px 250px;
    margin-bottom: -100px;
}

main section .aside1 .aside1-top .user-img {
    width: 200px;
    height: 200px;
}

main section .aside1 .aside1-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 420px;
    border-radius: 10px;
    background-color: #EBEBEB;
}

main section .aside1 .aside1-bottom h3 {
    margin-top: 20px;
    margin-bottom: -60px;
    font: 23px IBM Plex Sans Bold;
}

main section .aside1 .aside1-bottom section {
    width: 90%;
    height: 340px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main section .aside1 .aside1-bottom section div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main section .aside1 .aside1-bottom section .top-section {
    margin-bottom: -20px;
}


main section .aside1 .aside1-bottom section div div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
}

main section .aside1 .aside1-bottom section div .button1 {
    background-color: #ABE9AA;
}


main section .aside1 .aside1-bottom section div .button2 {
    background-color: #DBDBDB;
}

main section .aside1 .aside1-bottom section div .button3 {
    background-color: #DBDBDB;;
}

main section .aside1 .aside1-bottom section div .button4 {
    background-color: #DBDBDB;
}

main section .aside1 .aside1-bottom section div div h4 {
    font: 26px IBM Plex Sans Regular;
    margin-bottom: -23px;
}

main section .aside1 .aside1-bottom section div div p {
    font: 16px IBM Plex Sans Regular;
    text-align: center;
}

main section .aside1 .aside1-bottom section div div input {
    font: 16px IBM Plex Sans Regular;
    text-align: center;
    width: 110px;
    height: 30px;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    background-color: #25A031;
    margin-top: -20px;

}

main section .aside1 .aside1-bottom section div div input:active {
    background-color: gray;
}

main section .Group-Step1 {
    width: 70%;
    height: 90%;
    background-color: #EBEBEB;
    margin: 40px 40px 40px 40px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
}

main section .Group-Step1 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

main section .Group-Step1 h4 {
    font: 23px IBM Plex Sans Bold;
    text-decoration: underline;
}

main section .Group-Step1 p {
    font: 20px IBM Plex Sans Regular;
    margin-bottom: 20px;
}

main section .Group-Step1 form {
    padding: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main section .Group-Step1 form h5 {
    font: 18px IBM Plex Sans Bold;
}

main section .Group-Step1 form group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main section .Group-Step1 form group label {
    font: 17px IBM Plex Sans Regular;
    text-align: start;
}

main section .Group-Step1 form select {
    width: 600px;
    height: 35px;
    font: 17px IBM Plex Sans Regular;
}

main section .Group-Step1 form select option {
    font: 17px IBM Plex Sans Regular;
}

main section .Group-Step1 form input {
    width: 600px;
    height: 35px;
    padding: 5px;
    font: 17px IBM Plex Sans Regular;
}

main section .Group-Step1 form .step1button {
    width: 340px;
    height: 40px;
    font: 20px IBM Plex Sans Regular;
    background-color: #25A031;
    border: none;
    color: white;
    margin-top: 10px;
    align-self: flex-end;
    border-radius: 10px;
}

main section .Group-Step1 form .step1button:active {
    background-color: lightgray;
}

main footer .Footer-Navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0,0,0,60%);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

main footer .Footer-Navigation div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

main footer .Footer-Navigation .nav1 h5 {
    font: 31px IBM Plex Sans Bold;
    color: white;
    margin-bottom: 9px;
    
}

main footer .Footer-Navigation .nav1 a {
    font: 20px IBM Plex Sans Regular;
    color: white;
    margin: 7px;
    text-decoration: none;
}

main footer .Footer-Navigation .nav1 a:hover {
    text-decoration: underline;
    color: #d3b257;
}

main footer .Footer-Navigation .nav2 {
    justify-content: flex-start;
    gap: 10px;
}

main footer .Footer-Navigation .nav2 img {
    width: 160px;
    height: 160px;
    margin-top: 25px;
}

main footer .Footer-Navigation .nav2 h4 {
    font: 25px IBM Plex Sans Bold;
    color: white;
    margin-top: 20px;
    text-shadow:1px 1px 3px #ffffff, 0.1px 0.1px 0.1px #ffffff;
}

main footer .Footer-Navigation .nav2 p {
    font: 13px IBM Plex Sans Regular;
    color: white;
}

main footer .Footer-Navigation .nav2 a {
    font: 18px IBM Plex Sans Regular;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

main footer .Footer-Navigation .nav2 a:hover {
    text-decoration: underline;
    color: #d3b257;
}

main footer .Footer-Navigation .nav2 .rights {
    font: 12px IBM Plex Sans Regular;
    color: #D4C6C6;
    margin-top: 45px;
}

main footer .Footer-Navigation .nav3 {
    gap: 10px;
    align-items: center;
}

main footer .Footer-Navigation .nav3 div {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    justify-content: row;
    margin-top: -27px;
}

main footer .Footer-Navigation .nav3 div h5{
    font: 31px IBM Plex Sans Bold;
    color: white;
    margin-bottom: 13px;
}

main footer .Footer-Navigation .nav3 div a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    gap: 8px;
    margin-bottom: 13px;
}

main footer .Footer-Navigation .nav3 div a img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

main footer .Footer-Navigation .nav3 div a label {
    font: 20px IBM Plex Sans Regular;
    color: white;
    align-self: center;
    cursor: pointer;
}

main footer .Footer-Navigation .nav3 div a label:hover {
    color: #d3b257;
}